<!-- <tickers-table></tickers-table> -->
<!-- <button class="flex self-left m-4" mat-stroked-button [routerLink]="'/home'">Back to Chart</button> -->
<div class="flex flex-row mt-8 p-4 gap-8 justify-center items-center">
    <section class="flex flex-col">
        <tickers-table></tickers-table>
    </section>
    <section class="flex flex-col justify-between items-center">
        <!-- {{bookMap.size}} -->
        <div class="flex flex-row gap-4">
            <mat-card>
                <div class="flex flex-col m-4 h-96 overflow-y-hidden">
                    <div class="grid grid-cols-4 text-lg">
                        <div class="text-center">Count</div>
                        <div class="text-center">Amount</div>
                        <div class="text-center">Total</div>
                        <div class="text-right">Price</div>
                    </div>
                    <div *ngFor="let index=index;let item of (bidsMap | keyvalue).reverse()| slice : 0: 19 as data" class="grid grid-cols-4">
                        <div *ngIf="index < LAST_INDEX" [style.maxWidth]="'250px'" [style.top]="((index * 20)+42) + 'px'" [style.width]="((item.value[INDEX_OF.TOTAL] - minBid) / (maxBid - minBid))*250 + 'px'" class="z-0 absolute h-6 right-4 bg-green-200"></div>
                        <div class="z-10 text-center">{{item.value[INDEX_OF.COUNT]  | number}}</div>
                        <div class="z-10 text-center">{{item.value[INDEX_OF.AMOUNT] | number}}</div>
                        <div class="z-10 text-center">
                            {{calcTotalBid(index, item.value, data)}}{{item.value[INDEX_OF.TOTAL] | number}}
                        </div>
                        <div class="z-10 text-right">{{item.value[INDEX_OF.PRICE]}}</div>
                    </div>
                </div>
            </mat-card>
            <mat-card>
                <div class="flex flex-col m-4 h-96 overflow-y-hidden">
                    <div class="grid grid-cols-4 text-lg">
                        <div class="text-left">Price</div>
                        <div class="text-center">Total</div>
                        <div class="text-center">Amount</div>
                        <div class="text-center">Count</div>
                    </div>
                    <div *ngFor="let index=index;let item of (asksMap | keyvalue) | slice : 0: 19 as data" class="grid grid-cols-4">
                        <div *ngIf="index < LAST_INDEX" [style.maxWidth]="'250px'" [style.top]="((index * 20)+42) + 'px'" [style.width]="((item.value[INDEX_OF.TOTAL] - minAsk) / (maxAsk - minAsk))*250 + 'px'" class="z-0 absolute h-6 left-4 bg-red-200"></div>
                        
                        <div class="z-10 text-left">{{item.value[INDEX_OF.PRICE]}}</div>
                        <div class="z-10 text-center">{{calcTotalAsk(index, item.value, data)}}{{item.value[INDEX_OF.TOTAL] | number}}</div>
                        <div class="z-10 text-center">{{item.value[INDEX_OF.AMOUNT] | number}}</div>
                        <div class="z-10 text-center">{{item.value[INDEX_OF.COUNT] | number}}</div>
                    </div>
                </div>
            </mat-card>
        </div>
    </section>
</div>