<!-- <tickers-table></tickers-table> -->
<div class="flex flex-row p-4 gap-8 justify-center items-center">
    <section class="flex flex-col">
        <tickers-table></tickers-table>
    </section>
    <section class="flex flex-col justify-between items-center">
        <button class="flex self-left m-4" mat-stroked-button [routerLink]="'/home'">Back to Chart</button>
        <!-- {{bookMap.size}} -->
        <div class="flex flex-row gap-4">
            <mat-card>
                <div class="flex flex-col m-4 h-96 overflow-y-hidden">
                    <div class="grid grid-cols-4 text-lg">
                        <div class="text-center">Count</div>
                        <div class="text-center">Amount</div>
                        <div class="text-center">Total</div>
                        <div class="text-center">Price</div>
                    </div>
                    <div *ngFor="let index=index;let item of (bidsMap | keyvalue).reverse()| slice : 0: 19 as data" class="grid grid-cols-4">
                        <div class="text-center">{{item.value[0]  | number}}</div>
                        <div class="text-center">{{item.value[1] | number}}</div>
                        <div class="text-center">{{calcTotal(index, item.value, data)}}{{item.value[2] | number}}</div>
                        <div class="text-center">{{item.value[3]}}</div>
                    </div>
                </div>
            </mat-card>
            <mat-card>
                <div class="flex flex-col m-4 h-96 overflow-y-hidden">
                    <div class="grid grid-cols-4 text-lg">
                        <div class="text-center">Count</div>
                        <div class="text-center">Amount</div>
                        <div class="text-center">Total</div>
                        <div class="text-center">Price</div>
                    </div>
                    <div *ngFor="let index=index;let item of (asksMap | keyvalue).reverse() | slice : 0: 19 as data" class="grid grid-cols-4">
                        <div class="text-center">{{item.value[0] | number}}</div>
                        <div class="text-center">{{item.value[1] | number}}</div>
                        <div class="text-center">{{calcTotal(index, item.value, data)}}{{item.value[2] | number}}</div>
                        <div class="text-center">{{item.value[3]}}</div>
                    </div>
                </div>
            </mat-card>
        </div>
    </section>
</div>