<div class="chart-container h-full flex flex-col lg:flex-row gap-2">

    <div class="flex flex-col w-full h-full" *ngIf="chartOptions && chartData">

        <div>
            <div class="pl-4 text-lg">{{selectedSymbol.substring(1,4)}}/{{selectedSymbol.substring(4)}}</div>
            <div *ngIf="ohlcOnHover" class="flex pl-4 gap-2">
                <span>O: {{ohlcOnHover.o}}</span>
                <span>H: {{ohlcOnHover.h}}</span>
                <span>L: {{ohlcOnHover.l}}</span>
                <span>C: {{ohlcOnHover.c}}</span>
            </div>
        </div>

        <apx-chart *ngIf="chartOptions.series && chartOptions.plotOptions && chartOptions.chart && chartOptions.xaxis && chartOptions.yaxis && chartOptions.tooltip"
            [series]="chartOptions.series" 
            [plotOptions]="chartOptions.plotOptions"
            [chart]="chartOptions.chart" 
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [tooltip]="chartOptions.tooltip">
        </apx-chart>

        <!-- Mapping Information 
                3y ==> 1W
                1y ==> 1D
                3m ==> 12h
                1m ==> 6h
                7d ==> 1h
                3d ==> 30m
                1d ==> 15m
                6h ==> 5m
                1h ==> 1m 
        -->
        <div class="flex gap-2">
            <button 
                *ngFor="let item of timeSpansList" 
                mat-stroked-button
                [ngClass]="{'selected-time-span': selectedTimeFrame ? selectedTimeFrame.label === item.label : false}"
                (click)="onTimeFrameChange(item)"
            >{{item.label}}
            </button>
        </div>
    </div>

</div>