<div class="text-lg">Symbol Table</div>
<mat-table mat-table [dataSource]="getAllSymbols$" class="data-table mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last">
        <mat-header-cell *matHeaderCellDef> Last </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastPrice}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row 
        [ngClass]="{'selected-symbol':selectedSymbol == row.symbol}" 
        class="cursor-pointer" 
        (click)="onSymbolSelect(row.symbol)" 
        *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
</mat-table>