<div class="text-lg">Tickers Table</div>
<ng-container *ngIf="getAllSymbols$ | async as tickersTableData">
<mat-table mat-table [dataSource]="tickersTableData" class="data-table mat-elevation-z8">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"> 
            {{
                i === 0 || (element.tickerName !== tickersTableData[i-1].tickerName ) ?
                element.tickerName : 
                ''
            }} 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last">
        <mat-header-cell *matHeaderCellDef> Last </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <div class="flex gap-2">
            <span>{{element.tickerLastPrice}}</span>
            <span class="text-sm font-bold">{{element.tickerUnit}}</span>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell
         *matCellDef="let element;">
            <button mat-icon-button (click)="$event.stopPropagation();openOrderBook(element)">
                <mat-icon>open_in_new</mat-icon>
            </button> 
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row 
        [ngClass]="{'selected-symbol':selectedSymbol === row.tickerSymbol}" 
        class="cursor-pointer" 
        (click)="onSymbolSelect(row.tickerSymbol)" 
        *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
    
</mat-table>
</ng-container>