<div class="text-lg">Tickers Table</div>
<ng-container *ngIf="getAllSymbols$ | async as tickersTableData">
<mat-table mat-table [dataSource]="tickersTableData" class="data-table mat-elevation-z8">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"> 
            {{
                i == 0 || (element.tickerName !== tickersTableData[i-1].tickerName ) ?
                element.tickerName : 
                ''
            }} 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="last">
        <mat-header-cell *matHeaderCellDef> Last </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <div class="flex gap-2">
            <span>{{element.lastPrice}}</span>
            <span class="text-sm font-bold">{{element.unit}}</span>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell
         *matCellDef="let element;">
            <button mat-icon-button (click)="$event.stopPropagation();openOrderBook(element)">
                <mat-icon>open_in_new</mat-icon>
            </button> 
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row 
        [ngClass]="{'selected-symbol':selectedSymbol === row.symbol}" 
        class="cursor-pointer" 
        (click)="onSymbolSelect(row.symbol)" 
        *matRowDef="let row; columns: displayedColumns"
    ></mat-row>

    <!-- <ng-container matColumnDef="groupHeader">
		<mat-cell colspan="999" *matCellDef="let group">
      <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
      <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
			<strong>{{group.symbol}} ({{group.totalCounts}})</strong>
      </mat-cell>
  </ng-container>
    <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </mat-row> -->
</mat-table>
</ng-container>